#app {
  padding: 0 200px;
  background-color: rgb(255, 237, 166);
}

.light-theme-primary {
  background-color: rgb(255, 237, 166);
}

.light-theme-secondary {
  background-color: #FF971F
}

.light-theme-tertiary {
  background-color: rgb(255, 243, 199);
}

.light-theme-helpful {
  color:black
}

.dark-theme-primary {
  background-color: rgb(46, 46, 46);
  color: white;
}

.dark-theme-secondary {
  background-color:  #0a1572;
  color: white;
}

.dark-theme-tertiary {
  background-color: rgb(62, 62, 62);
  color: white;
}

.dark-theme-button-text {
  color: white;
}

.dark-theme-helpful {
  color:white
}

.light-theme-button-text {
  color: black;
}

.react-icon {
  color:black
}

button#fav {
  border-radius: 4px;
  color: grey;
  background-color: white;
  border: 1px solid #b5b8b6;
  width: 100%;
  height: 125%;

}

button#add-to-cart-button {
  border-radius: 4px;
  color: grey;
  background-color: white;
  border: 1px solid #b5b8b6;
  width: 90%;
  height: 125%;
  margin-left: 5%;
  padding: 0;
}

.element.style {
  color:black;
}

.tickmark{
  color:black;
}

.css-2b097c-container {
  color: black;
}

.logo-bar {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  height: 50px;
  font: italic 2em -webkit-xxx-large;
  color: white;
}

.toggle-button {
  font-weight: bold;
  font-size: .5em;
  font-variant: small-caps;
  margin-right: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
}

a#read-all-reviews {
  margin-left: 5%;
  text-decoration: underline;
  cursor: pointer;
}

div#product-name {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 1%;
}

.col-md-3.style-icon, .share-icon {
  margin-top: 3%;
}

.product-overview {
  margin: 3% 0;
}

.product-information {
  margin: 0 5%;
}

.style-selector, .price {
  font-size: large;
}

.thumbnails {
  position: absolute;
  left: 0px;
  z-index: 99999;
}

button.button-thumbnail {
  background-color: transparent;
  margin: 3px;
}

#expand-icon {
  position: absolute;
  z-index: 9999;
  /* right: 10px;
  margin-right: 10%; */

}

button.button-thumbnail {
  border: none;
}

div#arrow-up, div#arrow-down {
  opacity: 0.5;
}

.carousel-control-prev {
  left: 12%;
}

img.d-block.w-100.align-middle {
  cursor:zoom-in;
}

.col-md-12.my-auto.d-flex.justify-content-center {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 0;
}

.col-md-7.my-auto.d-flex.justify-content-center {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 0;
}


span#sale-price, div#select-size-reminder {

  color: red;
  padding-left: 15px;
  padding-top: 10px;
 }

 span#original-price-cross {
  text-decoration: line-through;
 }

 .features {
   border-left: solid;
 }

 .feature, .check-feature {
   padding-left: 10px;
 }

 #fb-icon, #twitter-icon, #pinterest-icon,
 #size-options, #add-cart {
   padding: 10px;
 }

 #qty-options {
   padding-top: 10px;
 }

 #fb-icon:hover, #twitter-icon:hover, #pinterest-icon:hover {
  opacity: .5;
}

/* Review Styles */

.ratings-and-reviews {
  display: flex;
  width: 100%;
  max-height: 100vh;
}

.ratings {
  min-width: 350px;
}

.reviews {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
}

.review-tile {
  display: flex;
  border-bottom: 1px solid black;
  margin: 20px;
  flex-direction: column;
}

.rating-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 12px;
  color: rgb(121, 121, 121);
}

.stars {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 15px;
}

.review-summary {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
}

.review-body {
  font-size: 12px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.response {
  font-size: 12px;
  background-color: rgb(233, 232, 232);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 15px;
}

/* QA Styles */

.questions-module {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 90vh;
}

.qa-meta {
  margin-top: 5px;
  font-weight: 800;
}

.search-bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding: 10px 0;
  font-size: 1.5em;
  margin-left: 1px;
  background-color: auto
}

.no-results{
  font-weight: bold;
  color:#3f3f3f;
  font-size: 1.6em;
  margin-left: 30px;
  margin-top: 6px;
}

.helpful-questions{
  color:#3f3f3f;
  font-size: 1.2em;
  margin-left: 10px;
  margin-top: 4px;
}

.question-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
}

.helpful-btn {
  border: none;
  background: none;
  text-decoration: underline;
}

.helpful-btn-pressed {
  border: none;
  background: none;
  font-weight: bold;
  cursor: not-allowed;
}

.report-btn {
  border: none;
  background: none;
  text-decoration: underline;
  color:rgb(121, 121, 121);
  margin-bottom: 10px;
}

.report-btn-pressed {
  border: none;
  background: none;
  color:rgb(121, 121, 121);
  margin-bottom: 10px;
  font-weight: bold;
  cursor: not-allowed;
}

.qa-header {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.a-header {
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
}

.submit-header {
  color:rgb(233, 232, 232);
  font-size: 1.2em;
}

.add-answer {
  margin-left: 5px;
  font-size: .8em;
  font-weight: 400;
}

/* .submit-answer {
  display: flex;
} */

.add-question {
  margin-bottom: 20px;
  font-weight: bold;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 220px;
}

.change-questions {
  border: none;
  text-decoration:underline;
  background: none;
  font-size: 14px;
  font-weight: bold;
}

.response-text {
  font-size: 11px;
  color:rgb(121, 121, 121)
}

.bad-entry {
  color: red;
}

.display-answers {
  margin-bottom: 20px;
  font-weight: bold;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.display-questions {
  display:flex;
  justify-content: center;
  width: 40%;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 220px
}

 .show-more-btn {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 220px;
  align-self: center;
  font-weight: bold;
 }

 span#sale-price {
  color: red;
  padding-left: 15px;
 }

 .thumbnail {
  height: 75px;
  width: 75px;
 }

.help-btn {
  border: none;
  color: rgb(99, 98, 98);
  text-decoration: underline;
  background: none;
  font-size: 11px;
}

.filter-btn {
  border: none;
  color: rgb(99, 98, 98);
  text-decoration: underline;
  font-size: 11px;
  width: 45px;
  padding-left: 0;
  text-align: left;
}

.help-section {
  font-size: 11px;
  color: rgb(99, 98, 98);
  display: flex;
  height: 30px;
  align-items: center;
}

.rating-bar {
  border: 4px solid rgb(211, 211, 211);
  height: 8px;
  width: 60%;
}

.rating-breakdown {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: rgb(99, 98, 98);
}



/* Form Styles */

.form-label {
  margin-right: 10px;
  margin-bottom: 0px;
  vertical-align: top;
}

.radio-label {
  margin-right: 40px;
  margin-bottom: 0px;
  vertical-align: top;
}

.star-selector {
  background-color: #3f3f3f;
  border: none;
  padding: 0;
}

.disclaimer {
  font-size: 11px;
  color: #c3c0c0;
}

.form-row {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.radio {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 30px;
}
.radio-btns {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.ratings-header {
  font-weight: 800;
}

 /* Modal Styles */

 .modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em 1em;
  z-index: 999999;
  box-sizing: border-box;
}

 #fb-icon:hover, #twitter-icon:hover, #pinterest-icon:hover {
  opacity: .5;
}

.modal.modal-fade {
  animation: fade-in 1s 1 linear;
  animation-fill-mode: forwards;
  opacity: 0;
}

.modal > .modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.modal > .modal-close {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #5e5e5e;
  cursor: pointer;
  font-size: 1.25em;
  padding: 7px;
  background: rgba(255, 255, 255, 0.749);
  border: 1px solid #c3c0c0;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

.modal > .modal-close:hover {
  background: rgba(255, 255, 255, 0.989);
}

.modal > .modal-body {
  z-index: 2;
  position: relative;
  margin: 0 auto;
  background-color: #3f3f3f;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  padding: 15px 20px;
  color: #c3c0c0;
}

@keyframes fade-in {
  0% {
    animation-timing-function: cubic-bezier(0.2242, 0.7499, 0.3142, 0.8148);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
